@charset "UTF-8";
/* CSS Document */ 

body {
	background-color: #f1ebe1;
}

h2{
   	color: black;
	font-family: Avenir;
	font-weight: Light;
	font-size: 34px;
	padding-bottom: 12px;
}
p: {
	text-align: center;
	font-family: Avenir;
	font-style: Light;
	
}