@charset "UTF-8";
/* CSS Document for Alessia's cart 211 website*/
/* References used: we3schools.com */

body {
    height: 1600px;
    background-color: #f1ebe1; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #f1ebe1, #F1D6C5); /* Standard syntax (must be last) */
	margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 50px;
}
img {
    max-width: 30%;
    height: auto;
  	padding: 10px;
  	position: absolute;
    left: 500px;
    top: 320px;
    z-index: -1;
}
.container {
    position: relative;
    color: white;
}
.left {
    position: absolute;
    left: 16px;
}
h1
{
	color: black;
	font-family: "Helvetica Neue", Avenir, Helvetica, Arial, "sans-serif";
	font-weight: bold, heavy;
	font-size: 48px;
	padding-bottom: 12px;
	width: 40;
}
h2{
   	color: black;
	font-family: Avenir;
	font-weight: Light;
	font-size: 28px;
	padding-bottom: 2px;
}

p {
	font-family: Merriweather, Georgia, "serif";
	font-style: Light, Regular;
	font-size: 12px;
}
p.about {
    max-width: 44em; 
    border: 3px solid #e9e0d0;
    padding: 14px 25px;
    word-wrap: break-word;
}
p.reading {
    max-width: 76em; 
    border: 3px solid #e9e0d0;
    padding: 14px 25px;
    word-wrap: break-word;
}
p2 {
	font-family: Avenir;
	font-style: Light;
	font-size: 14px;
}
/* unvisited link */
a:link {
    color: #EC9160;
    background-color: #e9e0d0;
    padding: 14px 25px;
    display: inline-block;
}

/* visited link */
a:visited {
    color: #C5BEED;
}

/* mouse over link */
a:hover {
    background-color: #EC9160;
    color: white;
}

alt {
	color: #6C6C6C;
	font-family: Merriweather;
	font-style: Light;
	font-size: 8px;
}
footer {
	font-family: Merriweather;
	font-style: Light;
	font-size: 8px;
}
