* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height:100%;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(254,2,6,.50);
/*	opacity:.5;*/
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
	z-index: 99;
	transition:all .3s;
}

.content:hover {
	background:rgba(0,0,0,.50);
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
	transition:all .3s;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}








