/* === CSS RESET === */
/* Linked to review position website */

/* padding and border will not increase the width/height */
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/*Do this to support height values in %*/
html,body {
	height:100%;
}

#s1 {
/*	jump out of css folder, go into root folder (dot-dot) */
/*	position determines whats always visible, ex c@c */
	background:url(../images/bg.jpg) no-repeat center center fixed;
	background-size:cover;
	width:100%;
	height:70%;
/*	you need the PARENT TO BE RELATIVE*/
	position: relative;
}

#s1 hgroup {
	width:400px;
	background-color: #fff;
	padding: 20px;
/*	POSITIION IS ABSOLUTE, BUT INSIDE PARENT*/
	position: absolute;
	bottom: 20px;
	right:20px;
}

