* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html,body{
	height:100%;
}

#canvas{
  position:absolute;
	top:0;
	left:0;
}

.holder{
  padding:20px 0;
  width:100%;
  min-height:100vh;
	height:auto;
  margin:0 auto;
  font-family:monospace;
  position:relative;
 /* background-color:rgba(255,0,0,.5); */
}

.holder img {
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}

#myVid {
  position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
	z-index: -1;
}

p,h1{
  max-width:600px;
  margin:20px auto;
	color:#fff;
}

p{
  line-height:22px;
	color:#fff;
}

/* SVG classes */
.st0{fill:#FFFFFF;}
.st1{fill:#A2E4FF;}
.st2{fill:#8BB5FF;}
.st3{fill:#A6D9FF;}
.st4{fill:#A5E9F9;}
.st5{fill:#87D4F9;}

.hp {transition:all .5s}
.hp:hover {
	fill: #FFF;
	box-shadow: 0 0 3px #FF0000;
}

#human {
	position: absolute;
	top:150px;
	right:120px;
	width:35%;
	transition: all .5s;
	/* border: 1px solid red; */
}

.test
	{fill:red;
	position:	absolute;
	top:0;
	left:0;
	z-index:9;

	}
